<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой веб сервер</title>
    <style>
        body {font-family: Arial,sans-serif; background-color: black; color:white; text-align: center; padding-top: 50px;}
        .card{background-color: grey; display: inline-block; padding: 30px; border-radius: 12px;box-shadow: 0 4px rgba(0, 0, 0, 5);}
        input{padding: 10px;font-size: 16px; background: aqua; border: none;}
        button:hover{background: skyblue;}
        .result{margin-top: 20px;font-size: 20px; color: mediumaquamarine; font-weight: bold;}
    </style>
</head>
<body>
    <div class="card">
        <h1>Анкета разработчика на WEB python</h1>
        <form method="POST">
            <label>Твое имя:</label><br>
            <input type="text" name="user_name" placeholder="Введите имя..." required> <br>

            <label>Твой возраст:</label><br>
            <input type="number" name="user_age" placeholder="Сколько лет" required> <br>
            <button type="submit">Отправить на сервер...</button>
        </form>

        {% if reply %}
        <div class="result">{{reply}}</div>
        {% endif %}
    </div>
</body>
</html>